# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

basic:
  image_tag_version: "latest"
  scanflow_controller_image_name: "172.30.0.49:5000/scanflow-controller"
  scanflow_trakcer_image_name: "172.30.0.49:5000/scanflow-tracker"
  image_pull_policy: "IfNotPresent"
tracker:
  scanflow_tracker_storage_backend: "postgresql"
  scanflow_tracker_storage_url: "postgresql-service.scanflow-system.svc.cluster.local"
  scanflow_tracker_storage_username: "scanflow"
  scanflow_tracker_storage_password: "scanflow123"
  scanflow_tracker_artifact_backend: "s3"
  #scanflow_tracker_artifact_url: "minio.minio-system.svc.cluster.local"
  #scanflow_tracker_artifact_url: "http://172.30.0.50:43447"
  scanflow_tracker_artifact_url: "http://10.104.29.93:9000"
  scanflow_tracker_artifact_username: "admin"
  scanflow_tracker_artifact_password: "admin123"